*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Work Sans;
}


/* banner style start */
.banner{
    background-color: rgba(255, 144, 14, 0.10);
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav ul{
    list-style: none;
    display: flex;
    padding: 1em;
    gap: .5em;
}
.nav ul a{
    color: #B33771;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.nav ul a:hover{
    border: none;
    background-color: #fd9644;
    color: white;
}
.introduction{
    text-align: center;
    margin: 1.5em 0em;
}
.banner-title{
    color: blueviolet;
    padding: .75em 0em;
}
.intro{
    color: #B33771;
    font-size: 1em;
    font-weight: 400;
}
.introduction button{
    margin: .75em auto;
    padding: .75em;
    border: none;
    border-radius: 10px;
    background-color: #fd9644;
    color: white;
    font-size: 1em;
    font-weight: 600;
}
.picture{
    margin: 1em auto;
}